
select {
  padding: 0.7rem 0;
  border-radius: 0.25rem;
  background-color: var(--elementBGColor);
  color: var(--modeText);
  box-shadow: 0 1px 0px rgba(128, 128, 128, 0.5);
  outline: none;
  border: none;
  #filter {
    display: none;
  }
  option {
    background-color: var(--elementBGColor);
    color: var(--modeText);
    padding: 0.4rem;
    border-radius: 0.5rem;
  }
}
